@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700,100);

body *
{
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

body
{
    background-color: #eee;
}

.container-fluid
{
    background-color: #fff;
    height: 500px;
    overflow-y: auto;
}

.callout
{
    margin: 10px 0px 5px 0px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border: 1px solid #ddd;
    border-left: 5px solid;
    border-radius: 2px;
    box-shadow: 2px 2px #eee;
    width: 100%;
    display: table;
}

.callout-danger
{
    border-color: #d00;
}

.callout-warning
{
    border-color: #e38d13;
}

.callout-success
{
    border-color: #0a0;
}

.callout-info
{
    border-color: #5bc0de;
}

.callout > div
{
    display: table-cell;
    vertical-align: middle;
}

.callout > .icon
{
    margin-right: 15px;
}

.callout > .dismiss
{
    margin-left: 10px;
    padding-right: 10px;
}

.callout > .message ul
{
    margin-bottom: 0px;
    margin-right: 0px;
    padding-left: 13px;
}

.callout > .message
{
    padding-left: 10px;
}

input.error
{
    border-color: #d00;
}

input[readonly]
{
    background: repeating-linear-gradient(
        45deg,
        #fdd,
        #fdd 10px,
        #fff 10px,
        #fff 20px
      );
}

.btn-success
{
    background-color: #6cc86c;
    box-shadow: none;
}
